body{
  background-color: #fff1d6;
  font-family: 'Poppins', sans-serif;
}

h1{
  color: #7e9f19;
  display: inline-block;
}

h1:hover{
  background-color: #7e9f19;
  color: #fff;
}

h2{
  border-bottom: 1px dashed #7e9f19;
  margin: 0;
}

img{
  border: 1px solid #7e9f19;
  padding: 2px;
  float: left;
  margin: 10px 10px 0 0;
  
}

#places{
  width: 660px;
  float: left;
}

.place{
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
}

#container{
  width: 1000px;
  margin: 0 auto;
}

.anotacao{
  float: right;
  width: 260px;
  background-color: #fffbe4;
  border: 1px solid #c9bc8f;
  padding: 10px;
}

.anotacao h3{
  margin-top: 0;
  font-size: 14px;
}

.anotacao ol{
  font-size: 12px;
}

#rodape{
  clear: both;
  text-align: center;
  font-size: 12px;
}